.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*

# Включаем drakongen (локальная папка)

# Исключаем node_modules/drakongen (если нужно)
node_modules/drakongen/
src/drakonwidget/dtsrc
src/drakongen/examples
src/drakonwidget-for-vscode.zip