.vscode/**
.vscode-test/**
test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/jsconfig.json
**/*.map
**/eslint.config.mjs
**/.vscode-test.*
# drakongen/node_modules/**
# drakongen/package.json
# drakongen/package-lock.json
node_modules/drakongen
# node_modules/node-html-parser